<div class="jumbotron">
    <h1 class="display-4">Blog do NodeJS</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
    </p>
</div>

<a href="admin/categorias"><button class = "btn btn-success"> teste</button></a>

<h2> Postagens recentes:  </h2>
	
{{#each postagens}}
	
	<div class = "card">
		<div class = "card-body">
			 
			<h1>{{titulo}}</h1>
			<p> {{descricao}} </p>
			<a href="/postagem/{{slug}}"><button class="btn btn-success"> Ler mais</button></a>
			<hr>
			<small>Categoria: {{ categoria.nome }}</small>
			<br>
			<small>{{data}}</small>

		</div>
	</div>
	{{ else }}
		<h5> Nenhuma postagem </h5>
{{/each}}